boto3
fastapi
gunicorn==21.2.0
httpx
pydantic==2.*
python-json-logger==2.0.4
uvicorn[standard]
nora_lib==1.0.0
modal
pandas
jsonlines
googlesearch-python
backoff
nltk
numpy
pandas
requests
bs4
fuzzy-match
googlesearch-python
openai==1.69.0
tqdm
google-cloud-storage==2.18.2
filelock==3.16.1
litellm==1.68.0
pandas==2.2.2
diskcache==5.6.3
langsmith==0.1.140
anyascii==0.3.2
tenacity
